/* typograhy */
	
	@import url(http://fonts.googleapis.com/css?family=Gudea:400,700);
	
/* selection */
	
	::selection {
		background: #429279;
		color: #FFF;
	}
		
	::-moz-selection {
		background: #429279;
		color: #FFF;
	}
	
/* customs */

	html {
		padding-bottom: 100px;
	}
	
	html body {
		font: 14px/27px 'gudea', 'Open Sans', Helvetica, Arial, sans-serif;
		max-width: 990px;
		margin: 0 auto;
		color: #2C3E50;
	}
	
	html h1 {
		font-size: 19px;
		margin: 6px 0;
		font-weight: 300;
	}
	
	html h2 {
		font-weight: 600;
		margin: 0;
		font-size: 15px;
	}
	
	html h3 {
		display: inline;
		margin-left: 13px;
		font-weight: 400;
	}
	
	a {
		color: #A464B0;
		border-bottom: 1px solid transparent;
		text-decoration: none;
	}
	
	a:hover,
	a:focus {
		color: inherit;
		border-bottom: 1px solid black;
		text-decoration: none;
	}

/* header */
	
	header {
		padding: 15px 0;
		text-align: right;
		border-bottom: 1px solid #429279;
		margin-bottom: 13px;
		padding-right: 1px;
	}
	
	header h2 {
		font-weight: 400;
	}
	
/* aside */
	
	aside {
		width: 262px;
		padding-right: 40px;
		float: left;
		border-right: 1px solid #429279;
		margin-right: 40px;
		margin-bottom: 100px;
	}
	
/* navigation */
	
	nav {
		padding: 10px 0px 40px;
	}
	
	nav a {
		margin-left: 13px;
	}
	
	nav a:first-child {
		margin-left: 0;
	} 
	
/* pagination */
	
	.posts > li.pagination {
		margin-top: 100px;
		border: 0;
	}
	
	.pagination li,
	.pagination ul {
		display: inline;
		padding: 0;
	}
	
	.pagination .archive {
		font/
	}
	
/* archive, index - lists */
	
	/*ul*/.posts {
		list-style-type: none;
		padding: 0;
		float: left;
		margin: 0;
		width: 645px;
		float: right;
	}
	
	.posts > li > time {
		display: inline-block;
		margin-left: 7px;
		color: #A3A3A3;
	}
	
	.posts > li {
		margin-bottom: 65px;
		padding-bottom: 100px;
		border-bottom: 1px solid #BDBDBD;
	}
	
	.posts > li > h2 {
		font-size: 18px;
		margin-bottom: 28px;
		display: inline-block;
	}

/* article */
	
	.post {
		overflow: hidden;
	}
	
	.post footer {
		margin: 30px 0 150px;
	}
		
	.post h2 {
		font-size: 19px;
		line-height: 36px;
	}
	

/* footer */
	
	body > footer {
		padding: 80px 0 5px 0;
		color: #ACACAC;
		font-size: 13px;
		clear: both;
	}
	
	body > footer a {
		text-decoration: underline;
		color: inherit;
	}

/* code prettify */
	
	.prettyprint {
		font-size: 12px;
		line-height: 17px;
		padding: 21px;
		border-color: #EBEBEB;
		font-family: monospace;
	}

	pre {
		border: 1px solid #A464B0;
		padding: 14px;
		line-height: 18px;
		font-size: 12px;
		background: #FAFAFA;
		overflow: scroll;
	}


/* media queries */
	
	@media all and (max-width: 1050px) and (min-width: 50px) {
		
		body {
			padding: 100px;
		}

		aside {
			width: 100%;
			margin: 0;
			padding: 0;
			border: 0;
		}
		
		.posts {
			width: 100%;
			margin-top: 100px;
			border-top: 2px solid #A464B0;
			padding-top: 100px;
		}

	}
	
	@media all and (max-width: 600px) and (min-width: 50px) {
		
		body {
			padding: 40px; 
		}

	}

/* translations */

	a, a:hover,	a:focus {
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-ms-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
	}


